.container {
    display: flex;
    flex-direction: row;
    background: white;

    .input {
        border: none;
        padding: 10px;
        flex: 1;
        font-family: 'Roboto', sans-serif;
        resize: none;
        overflow: hidden;

        &:focus-visible {
            outline: none;
        }
    }

    .sendButton {

    }
}
