.container {
    display: flex;
    flex-direction: column;

    .messagesContainer {
        flex: 1;
        overflow-y: auto;//scroll;
        max-height: 100%;
        display: flex;
        flex-direction: column;
        //align-items: center;

        .messages {
            //width: 100%;
            //max-width: var(--container-max-width);
            background: white;
            padding: 5px;
        }
    }

    .inputContainer {
        display: flex;
        flex-direction: column;
        //align-items: center;
        background: white;
        border-top: 1px solid #e2e3e4;

        .messageInput {
            //width: 100%;
            //max-width: var(--container-max-width);
        }
    }
}
